doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title My App
    link(href='/css/bootstrap.css' rel='stylesheet')
    script(src='/js/bootstrap.js' type='application/javascript')

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.static-top
      .container.p-3
        a.navbar-brand(href='#')
          img(src='http://chupein.com/images/hhlogo.gif' alt='...' height='65')
        h4.text-center.text-light.mx-auto.mb-0
          | Happy Harry&apos;s Hardware
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.align-items-center
            li.nav-item.p-1
              a.btn.btn-warning(href='/home' role='button') Home
            li.nav-item.p-1
              a.btn.btn-warning(href='/customers' role='button') Customers
            li.nav-item.p-1
              a.btn.btn-warning(href='/products' role='button') Products
            li.nav-item.p-1
              a.btn.btn-warning(href='/sales' role='button') Sales


