include layouts/layout

.container.col-4.p-4
  h1 Add New Customer

  form(method='post', action='/customer/add')
    .form-group
      label(for='CustomerName') Name:
      input.form-control(type='text', name='CustomerName', required)

    .form-group
      label(for='CustomerEmail') Email:
      input.form-control(type='email', name='CustomerEmail', required)

    button.btn.btn-primary(type='submit') Add Customer

