include layouts/layout

.container.col-6.p-4
    table.table.table-striped
        thead
            tr.table-primary
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Total Sales
                th(scope='col')
        tbody
            tr
                th(scope='row') John Doe
                td do@d.com
                td $12,000
                td
                    form(method='get' action='/?????')
                        button.btn.btn-secondary(type='submit') Update
    form(method='get' action='/?????')
        button.btn.btn-secondary(type='submit') Insert New Customer
