include layouts/layout

.container.col-4.p-4
    table.table.table-striped
        thead
            tr.table-primary
                th(scope='col') Product
                th(scope='col') Total Sales
        tbody
            tr
                th(scope='row') Hammer
                td $12,000
    form(method='get' action='/??????')
        a.btn.btn-secondary( type='button') Insert New Product
