include layouts/layout

.container.col-4.p-4
    table.table.table-striped
        thead
            tr.table-primary
                th(scope='col') Product
                th(scope='col') Total Sales
        tbody
            each item in data
                tr
                    th(scope='row')= item.ItemName
                    td= '$' + item.TotalSales
    form(method='get' action='/product/add')
        button.btn.btn-secondary(type='submit') Insert New Product
        a.btn.btn-warning(href='/home' role='button') Home