include layouts/layout

.container.col-6.p-4
    table.table.table-striped
        thead
            tr.table-primary
                th(scope='col') Date
                th(scope='col') Customer
                th(scope='col') Product
                th(scope='col') Quantity
                th(scope='col') Total Sales
        tbody
            tr
                th(scope='row') 2023-10-2
                td $12,000
                td $12,000
                td $12,000
                td $12,000
